.nav{
    border-radius: 15px ;
    grid-area: n;
    background-color:#27243b;
    padding:10%;
    box-shadow: 5px 5px 10px  black;
}
.item a{
    color:#F0c38e;
    text-decoration: none;
    font-family:'Calibri', sans-serif;
    font-size: large;
    font-weight:bold;
}
.item a.active{
    font-family:'Calibri', sans-serif;
    font-size: large;
    font-weight: bold;
    color: white;
}