.nav{
    grid-area: n;
    background-color:whitesmoke;
    padding:10%;
}
.item a{
    color:black;
    text-decoration: none;
    font-family:'Segoe UI', sans-serif;
    font-size: large;
    font-weight: bold;
}
.item a.active{
    font-family:'Segoe UI', sans-serif;
    font-size: large;
    font-weight: bold;
    color: darkslategrey;
}