.description{
  display:grid;
  grid-template-columns: 40% 60%;
  grid-template-areas: "a b";
}
.profileInf{
  grid-area: b;
  padding: 10px;
  color: #F0c38e;
  font-family: "calibri";
}
.description img{
  grid-area:a;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  padding: 10px;
}
.backgroundBlock{
  background-color: #27243b;
  border-radius: 15px;
}
.contact{
  padding-left: 10px;
}