.description{
  display:grid;
  grid-template-columns: 30% 70%;
  grid-template-areas: "a b";
}
.profileInf{
  grid-area: b;
  padding: 10px;
  color: #F0c38e;
  font-family: "calibri";
}
.description img{
  grid-area:a;
  border-radius: 30%;
  height: 150px;
  width: 150px;
  padding: 10px;
}