.item{
    display:grid;
    grid-template-columns: 30% 70%;
    background-color: rgb(60, 38, 70);
    border-radius: 15px;
    margin-bottom: 10px;;
}
.item img {
    padding:10px;
    height: 100px;
    width: 100px;
    border-radius: 30%;
}