
.app_wrapper{
  width: 100%;
  display: grid;

  grid-template-areas: 
  "h h"
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 20px;

  background-color:#48426d;
}
.app-wrapper-content{
  grid-area: c;
  background:#F0c38e;
  border-radius: 15px;
}
.backgroundBlock{
  background-color: #27243b;
  border-radius: 15px;
}

